<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">Router Sample</a>
  <a class="text-white navbar-toggler" type="button" (click)="toggleNavbar()" style="border: none;" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-chevron-circle-down" id="btnNavbarToggle" style="height: 35px; width: 35px;"></i>
  </a>
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" *ngFor="let item of routerLinks">
        <a class="nav-item nav-link"  [class.active]="matchRoute(item.link)" [class.disabled]="matchRoute(item.link)" [routerLink]="[item.link]">{{item.text}}</a>
    </div>
  </div>
</nav>

<div id="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
